services:
  cache:
    image: redis:7.2.4-alpine
    restart: always
    container_name: steam-redis
    command: redis-server --loglevel notice --port 36231
    volumes:
      - cache:/data
    networks:
      - backend
  backend:
    image: ghcr.io/ignissak/steam-friends-fastify:main
    restart: always
    container_name: steam-backend
    build:
      context: ./steam-friends-fastify
      dockerfile: Dockerfile
      target: build-stage
    env_file:
      - ./steam-friends-fastify/.env
    depends_on:
      - cache
    networks:
      - backend
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.steam-api.entrypoints=http"
      - "traefik.http.routers.steam-api.rule=Host(`steam.bordas.sk`) && PathPrefix(`/api`)"
      - "traefik.http.routers.steam-api.middlewares=https-redirect@file"

      # HTTPS router
      - "traefik.http.routers.steam-api-secure.entrypoints=https"
      - "traefik.http.routers.steam-api-secure.rule=Host(`steam.bordas.sk`) && PathPrefix(`/api`)"
      - "traefik.http.routers.steam-api-secure.tls=true"
      - "traefik.http.routers.steam-api-secure.tls.certresolver=le"
      - "traefik.http.routers.steam-api-secure.service=steam-api"
      - "traefik.http.routers.steam-api-secure.middlewares=sslheader"

      - "traefik.http.services.steam-api.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"
  app:
    image: ghcr.io/ignissak/steam-friends-vue:main
    restart: always
    container_name: steam-frontend
    build:
      context: ./steam-friends-vue
      dockerfile: Dockerfile
      target: build-stage
    networks:
      - backend
      - proxy
    env_file:
      - ./steam-friends-vue/.env
    depends_on:
      - backend
    # traefik labels
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.steam-bordas.entrypoints=http"
      - "traefik.http.routers.steam-bordas.rule=Host(`steam.bordas.sk`)"
      - "traefik.http.routers.steam-bordas.middlewares=https-redirect@file"

      # HTTPS router
      - "traefik.http.routers.steam-bordas-secure.entrypoints=https"
      - "traefik.http.routers.steam-bordas-secure.rule=Host(`steam.bordas.sk`)"
      - "traefik.http.routers.steam-bordas-secure.tls=true"
      - "traefik.http.routers.steam-bordas-secure.tls.certresolver=le"
      - "traefik.http.routers.steam-bordas-secure.service=steam-bordas"
      - "traefik.http.routers.steam-bordas-secure.middlewares=sslheader"

      - "traefik.http.services.steam-bordas.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
volumes:
  cache:
    driver: local
networks:
  backend:
  proxy:
    external: true
